*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100dvh;

  background-image: linear-gradient(to right,
      rgba(255, 32, 32, 0.625),
      rgb(255, 224, 255),
      rgba(32, 32, 64, 0.625));
}

#root {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card {
  color: rgb(32, 32, 64);
  min-width: 125px;
  max-width: 500px;
  min-height: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.409);
}

.card:hover {
  border: 2px solid rgb(32, 32, 64);
  transition: 0.5s;
}

.card-title {
  font-weight: bold;
  color: rgb(32, 32, 64);
}

.card-text {
  color: rgb(32, 32, 64);
}

.card button {
  background-color: rgb(32, 32, 64);
  border: 2px solid rgb(32, 32, 64);
  color: white;
  font-weight: bold;
}

.card button:hover {
  background-color: white;
  border: 2px solid rgb(32, 32, 64);
  color: rgb(32, 32, 64);
}

header {
  color: rgb(32, 32, 64);
  width: 100%;
}

header h1 {
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: rgb(32, 32, 64);
}

footer {
  background-color: rgb(32, 32, 64);
  width: 100%;
}

.vh-10 {
  min-height: 10dvh;
}

.vh-20 {
  min-height: 20dvh;
}

.vh-30 {
  min-height: 30dvh;
}

.vh-50 {
  min-height: 50dvh;
}

.vh-75 {
  min-height: 75dvh;
}

.vh-100 {
  min-height: 100dvh;
}

#btnList {
  position: sticky;
  top: 90dvh;
  z-index: 10;

  background-color: rgb(32, 32, 64);
  border: 0;
}

form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.409);
}

.container,
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.dvw-100 {
  width: 100dvw;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-h-100 {
  min-height: 100%;
}

img {
  height: 560px;
  object-position: top;
  object-fit: cover;
  filter: brightness(0.4);
}

.custom-button {
  width: 200px
}

hr {
  width: 100%;
  height: 10px;
  color: rgb(32, 32, 64);
  background-color: rgb(32, 32, 64);
  font-size: 0;
  border: 0;
  margin: 0;
}

.card-public {
  border: 1px solid black;
  color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.card-public:hover {
  border: 1px solid black;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.btn {
  background-color: rgb(32, 32, 64);
  border: 0;
}

.btn:hover{
  background-color: rgba(32, 32, 64);
  filter: brightness(0.75)
}

nav {
  color: white;
  background-color: rgb(32, 32, 64);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: white
}

.navbar-brand:hover {
  color: white;
  text-decoration: underline;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
  text-decoration: underline;
}

.navbar-toggler {
  background-color: white;
}
